#box {
    width: 1200px;
    margin-top: 50px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.boxleft {
    border: 1px solid rgb(172, 170, 170);
}

#top {
    width: 400px;
    height: 400px;
    position: relative;
}

#top img {
    width: 400px;
    height: 400px;
}

#shadow {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#bigDiv {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 401px;
    overflow: hidden;
    display: none;
    z-index: 999;
}

#bigImg {
    width: 800px;
    height: 800px;
    position: absolute;
}

#nav {
    height: 110px;
    width: 400px;
}

#nav li {
    width: 90px;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#nav li img {
    width: 90px;
    height: 100px;
}

.detailsDiv {
    width: 798px;
    box-shadow: 1px 1px 5px 1px rgb(214, 211, 211);
}

.detailsDiv h3 {
    font-size: 22px;
}

.goodsTitle {
    height: 30px;
    width: 700px;
    margin: auto;
    margin-top: 19px;
}

.detalsprice {
    height: 80px;
    background-color: rgb(236, 235, 235);
    width: 790px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 80px;
    text-indent: 4em;
    font-weight: bold;
    box-shadow: 4px 4px 4px 2px rgb(245, 243, 243);
    border-radius: 15px;
}

.detalsprice span {
    color: brown;
}

.detalsprice_P_r {
    margin-right: 15px;
}

.styles {
    width: 500px;
    height: 100px;
    margin-left: 50px;
    margin-top: 55px;
}

.style_span {
    font-size: 16px;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.style_ul li {
    float: left;
    width: 100px;
    height: 40px;
    border: rgb(231, 229, 229) 1px solid;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
}

.style_ul li.selected_li {
    border: 1px solid rgb(247, 4, 4);
}

.style_ul li i.selected_i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/redYes.png) no-repeat center;
    background-size: 20px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.shoppingnum {
    width: 100px;
    height: 30px;
    margin-left: 50px;
    font-size: 16px;
    float: left;
}

.goodsNum {
    width: 100px;
    float: left;

}

.goodsNum button {
    width: 25px;
    height: 30px;
}

.goodsNum .goodsNum_input {
    width: 35px;
    height: 25px;
    text-align: center;
}

.buythecar {
    width: 700px;
    height: 50px;
    margin-top: 156px;
    margin-left: 150px;
}

.buy_btn,
.shopingCar_btn {
    width: 150px;
    border-radius: 30px;
    border: 0;
    height: 30px;
    margin-right: 50px;
    color: aliceblue;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

.buy_btn {
    background-color: rgb(204, 16, 16);
}

.shopingCar_btn {
    background-color: rgb(245, 183, 68);
}