@charset "utf-8";

.shoppingcar {
    width: 900px;
    margin-top: 50px;
}

.shoppingcar h3 {
    margin-bottom: 20px;
}

.checkAll {
    margin-left: 5px;
}

.shopList {
    margin-top: 10px;
}

.shopList img {
    width: 84px;
    height: 84px;
    margin-left: 20px;
    cursor: pointer;
}

.shopList input {
    vertical-align: auto
}

.shopList li {
    width: 800px;
    height: 100px;
    border: 1px solid rgb(207, 205, 205);
    padding-bottom: 2px;
}

.check_oneDiv {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 5px;
}

.goods_num {
    width: 20px;
    text-align: center;
}

.goods_name_div {
    width: 250px;
}

.goodsAddAndReduce {
    margin-left: 15px;
    float: left;
    margin-top: 40px;
}

.goodsAddAndReduce button {
    width: 20px;
}

.goods_name_a {
    line-height: 100px;
    color: rgb(47, 45, 49);
    margin-left: 50px;
}

.moneys {
    float: left;
    margin-top: 42px;
}

.goodsprice_span {
    float: left;
    display: block;
    width: 50px;
    line-height: 100px;
}

.totalprice {
    float: left;
    margin-top: 40px;
}

.totLogo {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.delete {
    float: right;
    margin-top: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.shop_footer {
    width: 802px;
    height: 30px;
    background-color: rgb(226, 222, 222);
}

.settlement_btn {
    width: 50px;
    height: 30px;
    border: 0;
    background-color: #f60;
    color: #fff;
    font-weight: bold;
}

.shop_footer p {
    line-height: 30px;
    margin-right: 15px;
}

/* .footer {
    position: fixed;
    bottom: 0;
    left: 0;
} */