<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Reset.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
    <div class="header">
        <div class="nav center">
            <ul class="left fl">
                <li><a href="#">首页</a></li>
                <li><a href="#">特接新品</a></li>
                <li><a href="#">热卖商品</a></li>
                <li class="borderNone"><a href="#">优惠专区</a></li>
            </ul>
            <ul class="right fr">
                <li><a href="#">登入</a></li>
                <li><a href="#">买家中心</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">企业简介</a></li>
                <li class="borderNone"><a href="#">帮助中心</a></li>
            </ul>
            <!-- logo input login -->

        </div>
    </div>
    <div class="headerbottom center">
        <div class="logo fl">
            <a href="#"><img src="./images/logo.png" alt=""></a>
        </div>
        <div class="search fl">
            <input type="text" class="search_input" placeholder="商品种类7523款"><button class="search_btn">搜 索</button>
            <p>热门搜索 ：<a href="#">刀锋战士</a>
                <a href="#">钓箱</a>
                <a href="#">线</a>
                <a href="#">轮</a>
                <a href="#">太空豆</a>
                <a href="#">路亚竿</a>
            </p>
        </div>
        <div class="login fr">
            <p class="fl"><span class="login_span"></span>买家登入</p>
            <p class="fl"><span class="register_span"></span>申请注册</p>
        </div>
    </div>
</body>
<div class="footer">
    <div class="footercontent center">
        <ul>
            <li class="fontBg1"><span>牌服务</span>三大保障</li>
            <li class="fontBg2"><span>固安全</span>垂直渠道</li>
            <li class="fontBg3"><span>量库存</span>随心采购</li>
            <li class="fontBg4"><span>力雄厚</span>上市企业</li>
        </ul>
        <dl>
            <dt>购物指南</dt>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">如何加入</a></dd>
        </dl>
        <dl>
            <dt>如何付款</dt>
            <dd><a href="#">微信支付</a></dd>
            <dd><a href="#">中国银联</a></dd>
            <dd><a href="#">支付宝</a></dd>
        </dl>
        <dl>
            <dt>货物配送</dt>
            <dd><a href="#">配送方式</a></dd>
            <dd><a href="#">收费标准</a></dd>
            <dd><a href="#">注意事项</a></dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd><a href="#">售后维修</a></dd>
            <dd><a href="#">退货说明</a></dd>
            <dd><a href="#">联系方式</a></dd>
        </dl>
        <dl>
            <dt>关于海明威</dt>
            <dd><a href="#">商务合作</a></dd>
            <dd><a href="#">连锁加盟</a></dd>
            <dd><a href="#">法律声明</a></dd>
        </dl>
        <div class="erweiCode fr ">
            <p>扫码加入</p>
            <p>海明威买家平台</p>
        </div>
    </div>
    <p class="footer_bottmo">Copyright &copy; 2015-2017 hmwdj.com All Rights Reserved. 威海市海明威集团股份有限公司 版权所有 鲁ICP备15012501号</p>
</div>

</html>